@import 'tailwindcss';

::selection {
	background-color: #000000;
	color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	::selection {
		background-color: #ffffff;
		color: #000000;
	}
}

.dark ::selection {
	background-color: #ffffff;
	color: #000000;
}

:root {
	--sh-class: #000000;
	--sh-identifier: #000000;
	--sh-sign: #000000;
	--sh-string: #000000;
	--sh-keyword: #000000;
	--sh-comment: #666666;
	--sh-jsxliterals: #000000;
	--sh-property: #000000;
	--sh-entity: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--sh-class: #ffffff;
		--sh-identifier: #ffffff;
		--sh-keyword: #ffffff;
		--sh-string: #ffffff;
		--sh-comment: #999999;
	}

	html {
		color-scheme: dark;
	}
}

.dark {
	--sh-class: #ffffff;
	--sh-identifier: #ffffff;
	--sh-keyword: #ffffff;
	--sh-string: #ffffff;
	--sh-comment: #999999;
	color-scheme: dark;
}

html {
	min-width: 360px;
}

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply underline transition-all underline-offset-2;
	text-decoration-color: inherit;
	text-decoration-thickness: 1px;
}

.prose .anchor:after {
	@apply text-black dark:text-white;
	content: '#';
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply bg-white dark:bg-black overflow-x-auto py-2 px-3 text-sm;
}

.prose code {
	@apply px-1 py-0.5 bg-white dark:bg-black;
}

.prose pre code {
	@apply p-0 bg-transparent;
	line-height: 1.5;
}

.prose code span {
	@apply font-medium;
}

.prose img {
	@apply m-0;
}

.prose p {
	@apply my-4 text-black dark:text-white;
}

.prose h1 {
	@apply text-4xl font-medium tracking-tight mt-6 mb-2 text-black dark:text-white;
}

.prose h2 {
	@apply text-xl font-medium tracking-tight mt-6 mb-2 text-black dark:text-white;
}

.prose h3 {
	@apply text-xl font-medium tracking-tight mt-6 mb-2 text-black dark:text-white;
}

.prose h4 {
	@apply text-lg font-medium tracking-tight mt-6 mb-2 text-black dark:text-white;
}

.prose strong {
	@apply font-medium text-black dark:text-white;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6;
}

.prose > :first-child {
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

input[type='text'],
input[type='email'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.title {
	text-wrap: balance;
}
