@import "tailwindcss";

::selection {
  background-color: #000000;
  color: #ffffff;
}

html.dark ::selection {
  background-color: #ffffff;
  color: #000000;
}

:root {
  --sh-class: #000000;
  --sh-identifier: #000000;
  --sh-sign: #000000;
  --sh-string: #000000;
  --sh-keyword: #000000;
  --sh-comment: #666666;
  --sh-jsxliterals: #000000;
  --sh-property: #000000;
  --sh-entity: #000000;
}

html.dark {
  --sh-class: #ffffff;
  --sh-identifier: #ffffff;
  --sh-keyword: #ffffff;
  --sh-string: #ffffff;
  --sh-comment: #999999;
  color: #ffffff;
  color-scheme: dark;
  background-color: #000000;
}

html {
  color-scheme: light;
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all underline-offset-2;
  text-decoration-color: inherit;
  text-decoration-thickness: 1px;
}

.prose .anchor:after {
  @apply text-black;
  content: "#";
}

html.dark .prose .anchor:after {
  @apply text-white;
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-white overflow-x-auto py-2 px-3 text-sm;
}

html.dark .prose pre {
  @apply bg-black;
}

.prose code {
  @apply px-1 py-0.5 bg-white;
}

html.dark .prose code {
  @apply bg-black;
}

.prose pre code {
  @apply p-0 bg-transparent;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-black;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2 text-black;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 text-black;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 text-black;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2 text-black;
}

.prose strong {
  @apply font-medium text-black;
}

html.dark .prose p,
html.dark .prose h1,
html.dark .prose h2,
html.dark .prose h3,
html.dark .prose h4,
html.dark .prose strong {
  @apply text-white;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
